.App {
    text-align: center;
  }
   
  .App-logo {
    height: 40vmin;
  }
   
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
   
  .App-link {
    color: #09d3ac;
  }
   
  body{
    background: #09d3ac;
  }
   
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  
  
  .slides {
    position: relative;
  }
  
  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index:1;
  }
  
  .slides .slick-prev {
    left: 5%;
  }
  
  .slides .slick-next {
    right: 5%;
  }

  .navColor {
    background-color: rgb(134, 192, 240);
    
}

.navColor {
  background-color: rgb(134, 192, 240);

}

.cardBG{

  background-color: rgb(134, 192, 240);

}

.cardDeck
{
  width: 90%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: px;
  margin: auto;
  background-color: rgb(134, 192, 240);
    position: relative;
    left: 1em;
}

.cards {
  text-align: center;
}

.image {

    height: 500px;
    width: 500;
}
