.viewbookings-form {

    height: 1000;
    width: 100%;
    background-color: rgb(134, 192, 240);
  
  }

.viewbookings-components {
  
    width: 100;
    max-width: 38%;
    max-height: 30%;
    padding: 15px;
    margin: auto;
    background-color: #9AD9EA;
   

  }